@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rakkas&display=swap');

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e6cf91;
    margin-top: 70px;
}
.header{
    font-size: 80px;
    text-align: center;
    line-height: 75px;
    color: #e6cf91;
    font-family: "Rakkas", serif;
}
.header1{
    font-size: 45px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    line-height: 75px;
}
.desc1{
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
}
.date{
    font-size: 80px;
    font-family: "Montserrat", sans-serif;
}
.link{
    font-family: "Montserrat", sans-serif;
}
.content-form{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    color: #e6cf91;
    margin-top: 70px;
}
.cent{
    display: flex;
    align-items: center;
    justify-content: center;
}